@mixin glow($color: #4269b8, $size: 1.4375rem, $glow: true) {
  color: white;
  font-family: pixelmplus12regular;
  font-size: clamp(0.875rem, 2.5vw, $size);
  @if $glow {
    text-shadow:
      0 0 0.2px #fff,
      0 0 12px $color,
      0 0 50px $color;
  }
}
